/* GLOBAL STYLES */
body {
    display: flex;
    height: 100vh;
    background-color: var(--primary-color);
    font-size: var(--text-size);
    font-weight: var(--text-weigth-regular);
    font-family: var(--font-primary);
    color: var(--primary-text);
}

.top-bar{
    padding: 50px 0 0 30px;
}

/* BRAND NAME (Used in Sidebar) */
.brandName {
    font-size: var(--h1-size);
}

/* SIDEBAR */
.sideBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 350px;
    background-color: var(--secondary-color);
    padding: 50px 20px;
}

/* SIDEBAR NAVIGATION */
.sideBarNav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item:hover, .setting-item:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

/* ICONS */
.icon {
    width: 24px;
    height: 24px;
    fill: white;
    transition: fill 0.3s ease-in-out;
}

/* SETTINGS SECTION AT BOTTOM OF SIDEBAR */
.sideBarSetting {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settingNav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.setting-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}

.setting-item a {
    text-decoration: none;
    color: white;
}

#signOut-item:hover {
    background-color: #fe2525;
    cursor: pointer;
}

/* PROFILE SECTION */
.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name-account {
    display: flex;
    flex-direction: column;
}

/* DROPDOWN FOR ACCOUNT SELECTION */
#account-select {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: var(--secondary-highligth);
    color: var(--primary-color);
    cursor: pointer;
}

#account-select:hover {
    background-color: var(--highlight);
    color: var(--primary-text);
}